<section class="contato">
  <div class="contato__content">
    <h2>Contato</h2>
    <p>Estou sempre aberto a novas oportunidades e colaborações. Sinta-se à vontade para entrar em contato comigo
      através das minhas redes sociais ou email.</p>
    <a class="btn primary" href="mailto:oliveirawilson19@gmail.com" target="_blank" rel="noopener noreferrer"
      aria-label="Acessar email">
      Email
    </a>
    <a class="btn primary" href="https://github.com/wilsonrogerio" download="Wilson-Rogerio-Full-Stack.pdf"
      target="_blank" rel="noopener noreferrer" aria-label="Acessar repositório no GitHub">
      GitHub
    </a>
    <a class="btn outline" href="https://www.linkedin.com/in/wilson-fullstack" target="_blank" rel="noopener noreferrer"
      aria-label="Acessar Linkedin">
      Linkedin
    </a>
    <a class="btn outline" href="https://www.instagram.com/wilson_rogeri0/" target="_blank" rel="noopener noreferrer"
      aria-label="Acessar instagram">
      Instagram
    </a>
  </div>

</section>