<section class="navegation">
  <section class="navegation__image">
    <img src="20250520_180658.jpg" alt="imagem de perfil">
    <h3>Wilson Rogerio</h3>
  </section>
  <nav class="navegation__link">
    <a routerLink="/inicio" routerLinkActive="active-page" [routerLinkActiveOptions]="{exact: true}">Início</a>
    <a routerLink="/resumo" routerLinkActive="active-page">Resumo</a>
    <a routerLink="/sobre" routerLinkActive="active-page">Sobre</a>
    <a routerLink="/contato" routerLinkActive="active-page">Contato</a>
  </nav>
</section>